.vertical-container {
  display: table;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;}

.vertical-helper {
  display: table-cell;
  vertical-align: middle;}

.vertical-centered {
  margin:0 auto;
  width:200px;}

.swiper-gallery .swiper-slide img {
  opacity: 1;
}


/* carousel style */
.my-slide {
  width: 100%;
}